[submodule "external/openpixelcontrol"]
	path = external/openpixelcontrol
	url = https://github.com/zestyping/openpixelcontrol
[submodule "external/fadecandy"]
	path = external/fadecandy
	url = https://github.com/scanlime/fadecandy
